{% extends 'base.html.twig' %}

{% block title %}New Fleet{% endblock %}

{% block body %}
    <h1>Create new Fleet</h1>

    {{ include('fleet/_form.html.twig') }}

    <a href="{{ path('app_fleet_index') }}">back to list</a>
{% endblock %}
