<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue + Vuetify in Symfony</title>
		{{ encore_entry_link_tags('app_fleet') }}
	</head>
</html></body><body>
<div id="app_fleet"></div>
{{ encore_entry_script_tags('app_fleet') }}
<a href="{{ path('app_fleet_index') }}">back to list</a></body></html>
